.container {
  height: calc(100vh - 5rem);
  background: var(--main);
}

.content {
  margin: auto;
  max-width: 1140px;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    font: 700 3.32rem 'Darker Grotesque', sans-serif;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    color: var(--blue-300);
    margin-bottom: 1rem;
  }

  > strong {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 1000px;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.icons {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  section {
    max-width: 12rem;
    height: 10.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong {
      margin-top: 1rem;
      font-size: 1.125rem;
    }

    span {
      margin-top: 1rem;
      text-align: center;
    }

    &:last-child {
      max-width: 13rem;
    }
  }
}